.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-body {
    display: flex;
    flex-direction: row;
    margin: 10px;

    label {
      margin-right: 10px;
    }

    input.ng-invalid.ng-touched {
      border: red 1px solid;
  }
  }
}
